# Use a credential file in the format:
#     [rackspace_cloud]
#     username = myusername
#     api_key = 01234567890abcdef01234567890abcdef

# Here is what needs to be in the file : 
[rackspace_cloud]
username = myusername
api_key = 01234567890abcdef01234567890abcdef

### http://www.collazo.ws/2011/07/08/using-rackspace-dnsaas-with-curl-part-1
# curl -D user_credentials.Auth.NOGIT \
#  -H "X-Auth-Key: 01234567890abcdef01234567890abcdef" \
#  -H "X-Auth-User: myusername" https://auth.api.rackspacecloud.com/v1.0

